@charset "UTF-8";

*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root
    {
        font-size: 62.5%;
    } 

html
    {
        height: 100vh;
    }

header
    {
        background-color: black;
        font-size: 1.6rem;
        height: 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0.2rem 0.2rem 1.5rem black;
        position: fixed;  /* Adicione esta linha para tornar o header fixo */
        top: 0;          /* Posicione o header no topo da tela */
        left: 0;
        width: 100%;     /* Garanta que a largura seja de 100% */
        z-index: 1000; 
    }

#logo
    {
        border-radius: 1rem;
    }

#logo-titulo
    {
        color: aliceblue;
        font-size: 1.8rem;
    }

.material-symbols-outlined
    {
        color: aliceblue;
        cursor: pointer;
        padding: 1rem;
    }

.material-symbols-outlined:hover
    {
        color: #e08720;
    }

    #menu-mobile
    {
        background-color: rgba(0, 0, 0, 0.637);
        backdrop-filter: blur(1rem);
        width: 100vw;
        height: 0;
        position: absolute;
        top: 6rem;
        left: 0;
        visibility: hidden;
        overflow: hidden;
        transition: 0.5s;
    }

#menu-mobile.abrir
    {
        visibility: visible;
        height: 100vh;
    }

#menu-mobile ul
    {
        height: calc(100vh - 6rem);
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        text-align: center;
    }
    
a
    {
        text-decoration: none;
        color: aliceblue;
    }
    
section
    {
        height: 30rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }

section:nth-of-type(1)
    {
        margin-top: 6rem;
        background-image: url(../img/site/anjo.jpg);
        height: calc(100vh - 6rem);
    }

#titulo
    {
        height: calc(100vh - 6rem);
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        font-size: 2rem;
        letter-spacing: 2rem;
        backdrop-filter: blur(0.5rem);
    }

section:nth-of-type(2)
    {
        background-image: url(../img/site/sala.jpg);
        height: calc(100vh - 6rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }

section:nth-of-type(3)
    {
        background-image: url(../img/site/cientista.jpg);
        height: calc(100vh - 6rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }

section:nth-of-type(4)
    {
        background-image: url(../img/site/prisao.jpg);
        height: calc(100vh - 6rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }

section:nth-of-type(5)
    {
        background-image: url(../img/site/dark.jpg);
        height: calc(100vh - 6rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }

p
    {
        background-color: rgba(240, 248, 255, 0.753);
        width: 60rem;
        font-size: 1.6rem;
        text-align: justify;
        text-indent: 3rem;
        line-height: 3rem;
        color: black;
        padding: 1rem;
        border-radius: 2.5rem;
    }
