@charset "utf-8";

@media screen and (min-width: 280px) and (max-width: 359px)
    {
        section
        {
            height: 30rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            
        }

        section:nth-of-type(1)
        {
            background-position: center center;
        }

        #titulo
        {
            font-size: 1rem;
            letter-spacing: 1rem;
        }

        section:nth-of-type(2)
        {
            background-position: center;
        }

        section:nth-of-type(4)
        {
            background-position: center;
        }

        section:nth-of-type(5)
        {
            background-position: center;
        }

        p
        {
            width: 26rem;
        }
    }

@media screen and (min-width: 360px) and (max-width: 768px)
    {
        section:nth-of-type(1)
        {
            background-position: center center;
        }

        #titulo
        {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }

        section:nth-of-type(2)
        {
            background-position: center;
        }

        section:nth-of-type(4)
        {
            background-position: center;
        }

        section:nth-of-type(5)
        {
            background-position: center;
        }

        p
        {
            width: 35rem;
            font-size: 1.6rem;
        }

    }

@media screen and (min-width: 769px) and (max-width: 1024px)
    {
        section:nth-of-type(1)
        {
            background-position: center center;
        }

        #titulo
        {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }

        section:nth-of-type(2)
        {
            background-position: center;
        }

        section:nth-of-type(4)
        {
            background-position: center;
        }

        section:nth-of-type(5)
        {
            background-position: center;
        }

        p
        {
            width: 55rem;
            font-size: 1.8rem;
        }   
    }

@media screen and (orientation:landscape)
    {
        section:nth-of-type(1)
        {
            background-position: center center;
        }

        #titulo
        {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }

        section:nth-of-type(2)
        {
            background-position: center;
        }

        section:nth-of-type(4)
        {
            background-position: center;
        }

        section:nth-of-type(5)
        {
            background-position: center;
        }

        p
        {
            width: 60rem;
            font-size: 1.6rem;
        }
    }