@charset "UTF-8";

@media screen and (min-width: 280px) and (max-width: 359px)
    {
        p
        {
            font-size: 1.6rem;
            line-height: 3rem;
            text-align: justify;
            text-indent: 3rem;
            width: 25rem;
            background-color: rgba(240, 248, 255, 0.815);
            margin: auto;
            border-radius: 2.5rem;
            padding: 1rem;
        }
    }

@media screen and (min-width: 360px) and (max-width: 767px)
    {
        section:nth-of-type(1)
        {
            background-position: center center;
        }

        section:nth-of-type(2)
        {
            background-position: center;
        }

        section:nth-of-type(3)
        {
            background-position: center;
        }

        p
        {
            width: 32rem;
        }
    }

@media screen and (orientation:landscape)
    {
        p
        {
            font-size: 1.6rem;
            line-height: 3rem;
            text-align: justify;
            text-indent: 3rem;
            width: 55rem;
            background-color: rgba(240, 248, 255, 0.815);
            margin: auto;
            border-radius: 2.5rem;
            padding: 1rem;
        }
    }