@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@200&family=Nanum+Myeongjo&display=swap');

*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

:root
    {
        font-size: 62.5%
    }



body
    {
        height: 100vh;
    }

header
    {
        background-color: black;
        box-shadow: 0rem 0rem 1rem rgba(35, 222, 228, 0.644);
        height: 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

header > p
    {
        color: aliceblue;
        font-size: 1.5rem;
    }
    
#logo
    {
        width: 4rem;
    }

.material-symbols-outlined
    {
        color: aliceblue;
        cursor: pointer;
    }

#menu-mobile
    {
        background-color: rgba(0, 0, 0, 0.637);
        backdrop-filter: blur(1rem);
        width: 100vw;
        height: 0;
        position: absolute;
        top: 6rem;
        left: 0;
        visibility: hidden;
        overflow: hidden;
        transition: 0.5s;
    }

#menu-mobile ul
    {
        height: calc(100vh - 6rem);
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        text-align: center;
    }

#menu-mobile ul > a
    {
        color: aliceblue;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 1rem;
    }

#menu-mobile.abrir
    {
        visibility: visible;   
        height: calc(100vh - 6rem);
    }

#img-fundo
    {
        background-image: url(../img/site/anjo.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        height: calc(100vh - 6rem);
    }

main
    {
        height: calc(100vh - 6rem);
        background-color: rgba(0, 0, 0, 0.637);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.area-text
    {
        background-color: rgba(0, 0, 0, 0.651);
        box-shadow: 0rem 0rem 1.5rem rgba(255, 255, 255, 0.322);
        color: aliceblue;
        width: 24rem;
        height: 15rem;
        padding: 0.5rem;
    }

.area-text h1
    {
        text-align: center;
        padding-bottom: 0.5rem;
    }

.area-text p
    {
        color: aliceblue;
        font-size: 1.4rem;
        text-indent: 1rem;
        text-align: justify;
        font-family: 'Kalnia', serif;
        line-height: 2rem;
    }

#area-text-oculto
    {
        background-color: rgba(0, 0, 0, 0.651);
        box-shadow: 0rem 0rem 1.5rem rgba(255, 255, 255, 0.322);
        color: aliceblue;
        width: 24rem;
        height: 15rem;
        padding: 0.5rem;
        display: none;
    }

#area-text-oculto p
    {
        color: aliceblue;
        font-size: 1.4rem;
        text-indent: 1rem;
        text-align: justify;
        font-family: 'Kalnia', serif;
        line-height: 2rem;
    }

