@media screen and (orientation: landscape)
    {
        main
        {
            flex-direction: row;
            justify-content: space-around;
        }
    }

@media screen and (max-width:389px)
    {
        .area-text
        {
            height: 20rem;
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: 2.5rem;
        }
    }
    
@media screen and (min-width:390px) and (max-width:480px)
    {
       

        .area-text
        {
            width: 27rem;
            height: 27rem;
            padding: 1rem;
            border-radius: 2.5rem;
            margin-bottom: 2rem;
        }

    .area-text h1
        {
            font-size: 2.5rem;
            padding-bottom: 0.5rem;
        }

    .area-text p
        {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }

@media screen and (min-width:481px) and (max-width:667px)
    {
        .area-text
        {
            height: 20rem;
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: 2.5rem;
        }
    }
    
    
@media screen and (min-width:768px) and (max-width:1200px)
    {
        header
        {
            height: 7rem;
        }

        header > p
        {
            font-size: 2.5rem;
        }

        #logo
        {
            width: 6rem;
        }

        .area-text
        {
            width: 27rem;
            height: 28rem;
            padding: 1rem;
            border-radius: 2.5rem;
        }

        .area-text h1
        {
            font-size: 2.5rem;
            padding-bottom: 0.5rem;
        }

        .area-text p
        {
            font-size: 1.6rem;
            line-height: 3rem;
            text-align: center;
        }

        #area-text-oculto
        {
            background-color: rgba(0, 0, 0, 0.651);
            box-shadow: 0rem 0rem 1.5rem rgba(255, 255, 255, 0.322);
            color: aliceblue;
            width: 27rem;
            height: 28rem;
            padding: 1rem;
            border-radius: 2.5rem;
            display: block;
        }

        #area-text-oculto p
        {
            color: aliceblue;
            font-size: 1.8rem;
            text-indent: 1rem;
            text-align: center;
            font-family: 'Kalnia', serif;
            line-height: 2.2rem;
        }
        #area-text-oculto p > a
        {
            color: aliceblue;
        }

        #link
        {
            padding: 1rem;
        }

        #menu-mobile
            {
                top: 7rem;
            }

        #menu-mobile ul
        {
            height: calc(100vh - 7rem);
        }
        
        #menu-mobile.abrir
        {
            height: calc(100vh - 7rem);
        }
        #img-fundo
        {
            height: calc(100vh - 7rem);
        }
        
        main
        {
            height: calc(100vh - 7rem);
        }
    }

@media screen and (min-width:1201px)
    {
        header
        {
            height: 7rem;
        }

        header > p
        {
            font-size: 2rem;
        }

        #logo
        {
            width: 6rem;
        }

        #menu-mobile
        {
            top: 7rem;
        }

        #menu-mobile ul
        {
            height: calc(100vh - 7rem);
        }
        
        #menu-mobile.abrir
        {
            height: calc(100vh - 7rem);
        }

        #img-fundo
        {
            height: calc(100vh - 7rem);
        }

        main
        {
            height: calc(100vh - 7rem);
            flex-direction: column;
            justify-content: space-around;
        }

        .area-text
        {
            width: 60rem;
            height: 18rem;
            padding: 1rem;
            border-radius: 2.5rem;
        }

        .area-text h1
        {
            font-size: 2.5rem;
            padding-bottom: 0.5rem;
        }

        .area-text p
        {
            font-size: 1.6rem;
            line-height: 3rem;
            text-align: center;
        }

        #area-text-oculto
        {
            background-color: rgba(0, 0, 0, 0.651);
            box-shadow: 0rem 0rem 1.5rem rgba(255, 255, 255, 0.322);
            color: aliceblue;
            width: 60rem;
            height: 18rem;
            padding: 1rem;
            border-radius: 2.5rem;
            display: block;
        }

        #area-text-oculto p
        {
            color: aliceblue;
            font-size: 1.6rem;
            text-indent: 1rem;
            text-align: center;
            font-family: 'Kalnia', serif;
            line-height: 3rem;
        }
        #area-text-oculto p > a
        {
            color: aliceblue;
        }

        #link
        {
            padding: 1rem;
        }
    }